# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Distribution and build directories
build/
dist/
*.egg-info/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment variables
.env
*.env

# Testing and debugging
.pytest_cache/
.coverage
.tox/
